<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alpha.proyectos.is2.fpuna.py.alpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="Gestor de proyectos Alpha"></activity>

        <activity
            android:name=".activity.CrearUsuarioActivity"
            android:label="Crear Usuario"></activity>

        <activity
            android:name=".activity.ListaTareasActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.CrearTareaActivity"
            android:label="@string/title_activity_crear_tarea"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ListaProyectoActivity"
            android:label="Proyectos"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.CrearProyectoActivity"
            android:label="@string/title_activity_crear_proyecto"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.EditarProyectoActivity"
            android:label="@string/title_activity_editar_proyecto"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.EditarTareaActivity"
            android:label="@string/title_activity_editar_tarea"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.DatosProyectoActivity"
            android:label="@string/title_activity_datos_proyecto"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.ListaHitosActivity"
            android:label="@string/title_activity_lista_hitos"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CrearHitoActivity"
            android:label="@string/title_activity_crear_hito"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.EditarHitoActivity"
            android:label="@string/title_activity_editar_hito"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.TareasHitoActivity"
            android:label="@string/title_activity_tareas_hito"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CrearTareaHitoActivity"
            android:label="@string/title_activity_crear_tarea"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ComentariosActivity"
            android:label="@string/title_activity_comentarios"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.SolicitudesActivity"
            android:label="Solicitudes de colaboración"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.VerProyectoActivity"
            android:label="Datos Proyecto"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.SolicitarColaborarActivity"
            android:label="Solicitar Colaborar"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.DatosSolicitudActivity"
            android:label="Datos Solicitud"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.CrearComentarioActivity"
            android:label="@string/title_activity_nuevo_comentario"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>